<ion-view title="Favorits" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.palace">
                <img src="img/CtTmSqiIQri2k7gMGImu_place.jpg">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.palace">
                <img src="img/mPWnavImQtqsFn7rje9p_place.jpg">
                <h2>Title</h2>
                <p style="white-space:normal;">Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>