<ion-view title="{{PageTitle}}" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right homeItems" ng-repeat="place in Places" type="item-text-wrap" ui-sref="tabsController.palace">
                <img ng-src="{{place.logo}}">
                <h2 style="color:black;">{{place.name}}</h2>
                <p style="font-size: 0.69em; background: #666;color: #fff;padding: 0px 6px;display: inline-block;border-radius: 3px;">{{place.city}}</p>
                <p>{{place.address}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="likeBtn text-center" ng-click="favorito(place)"><i class="icon ion-heart assertive"></i></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>