<ion-view title="Home" id="page2">
    <ion-content padding="true" class="has-header">
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/GOG0VawRCSCIDJocTSdR_places.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.palace">
                <img src="img/CtTmSqiIQri2k7gMGImu_place.jpg">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.palace">
                <img src="img/R3V3x2TzS1ioOS2GIOd8_place.jpg">
                <h2>Title</h2>
                <p style="white-space:normal;">Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.palace">
                <img src="img/mPWnavImQtqsFn7rje9p_place.jpg">
                <h2>Title</h2>
                <p style="white-space:normal;">Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.palace">
                <img src="img/CtTmSqiIQri2k7gMGImu_place.jpg">
                <h2>Title</h2>
                <p style="white-space:normal;">Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>