<ion-view title="{{PageTitle}}" id="page2">
    <ion-content padding="false" class="has-header">
        <ion-slide-box auto-play="true" does-continue="true" on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="SlideShow in SlideShows" class="margin">
                <img src="{{SlideShow.URL}}" style="display: block; margin-left: auto; margin-right: auto; width:100%; height:auto;">
            </ion-slide>
        </ion-slide-box>
        <!--<div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/GOG0VawRCSCIDJocTSdR_places.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>-->
        <ion-list>
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right homeItems" ng-repeat="place in Places" type="item-text-wrap"  ui-sref="tabsController.palace">
                <img ng-src="{{place.logo}}">
                <h2 style="color:black;">{{place.name}}</h2>
                <p style="font-size: 0.69em; background: #666;color: #fff;padding: 0px 6px;display: inline-block;border-radius: 3px;">{{place.city}}</p>
                <p>{{place.address}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="likeBtn text-center" ng-click="favorito(place)"><i class="icon ion-bookmark positive"></i></ion-option-button>
            </ion-item>
        </ion-list>
        <!--<ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.palace">
                <img src="img/CtTmSqiIQri2k7gMGImu_place.jpg">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.palace">
                <img src="img/R3V3x2TzS1ioOS2GIOd8_place.jpg">
                <h2>Title</h2>
                <p style="white-space:normal;">Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.palace">
                <img src="img/mPWnavImQtqsFn7rje9p_place.jpg">
                <h2>Title</h2>
                <p style="white-space:normal;">Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.palace">
                <img src="img/CtTmSqiIQri2k7gMGImu_place.jpg">
                <h2>Title</h2>
                <p style="white-space:normal;">Item</p>
            </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>